body {
	position: relative;
}
/* Hidden NavBar and Header */

.fab {
	margin-left: 1rem;
}

.nav-menu {
	height: 50vh;
	width: 100vw;
	background: black;
	position: absolute;
	position: fixed;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #80cbc4;
	font-size: 5vw;
	text-align: center;
}

.menu-item {
	color: #fff;
	text-shadow: 2px 2px 2px black;
	padding: 1rem;
	margin: 1rem;
}

.hide-nav {
	transform: translateY(-100%);
}
.transition-effect {
	transition: 2s;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
}

.button-collapse {
	cursor: pointer;
}
/* About Intro */

.about-intro-wrapper {
	width: 100%;
	margin: 1.5rem 0rem 0rem 1.5rem;
	display: flex;
	justify-content: center;
}

.about-intro {
	width: 80vw;
	height: 80vh;
	background: #80cbc4;
	position: relative;
}

.intro-img {
	background: url('/img/about.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80vw;
	height: 80vh;
}
.intro-box {
	background: #80cbc4;
	width: 40vw;
	height: 25vh;
	position: absolute;
	left: 10%;
	top: 25%;
	padding: 1.5rem 4rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-fix {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.about-head {
	color: #fff;
	font-size: 2vw;
	text-shadow: 2px 5px 10px black;
	text-align: center;
	margin: 0;
	padding: 1rem;
}

.about-sub-head {
	margin: 0rem;
	color: #fff;
	font-size: 1.5vw;
	text-align: center;
	text-shadow: 0.5px 0.5px 1px black;
}

p {
	color: #fff;
}
/* Main About */

.about-section-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
	padding: 0rem 10rem;
	margin: 2rem;
	background: #80cbc4;
	border-radius: 20px;
}

.fa-comments {
	font-size: 2.5rem;
	padding: 1rem;
}

.about-cards-section {
	display: flex;
	align-items: center;
}

.card-head {
	margin: 0rem;
	color: #fff;
	font-size: 1vw;
	text-align: center;
}

.about-card {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	margin: 2rem;
}

/* Banner */

.banner-wrapper {
	height: 40vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0rem;
}
.banner {
	height: 40vh;
	width: 70vw;
	background: url('/img/globe.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(0, 0, 0, 0.6);
	box-shadow: 5px 5px 20px #80cbc4;
	background-blend-mode: overlay;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.banner-inner {
	width: 30%;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-shadow: 2px 2px 2px black;
	text-align: center;
}

.global-text {
	text-decoration: underline;
	text-decoration-color: #80cbc4;
}
/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-text {
	font-size: 1rem;
}

/* Media Queries */

/* Laptop Screens */
@media only screen and (max-width: 1024px) {
	/* Cards Section */

	.about-cards-section {
		flex-direction: column;
	}

	.about-card {
		width: 80%;
	}

	.about-card {
		margin: 1rem;
	}

	.banner-inner {
		width: 100%;
		height: 100%;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		text-shadow: 2px 2px 2px black;
		text-align: center;
	}
}

@media only screen and (max-width: 925px) {
	/* Cards Section */

	.about-cards-section {
		flex-direction: column;
	}

	.about-card {
		width: 80%;
	}

	/* About Intro */
	.intro-box {
		height: 50%;
	}
	/* Banner Section */

	.banner-inner {
		width: 100%;
		height: 100%;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		text-shadow: 2px 2px 2px black;
		text-align: center;
	}
}

@media only screen and (max-width: 570px) {
	/* About Intro */

	.intro-box {
		height: 50%;
		width: 80%;
	}

	.about-card {
		width: 100%;
	}

	.about-head,
	.about-sub-head {
		font-size: 14px;
	}

	/* Cards Section */

	.card-head,
	h3,
	.about-sub-head {
		font-size: 12px;
	}
	.main-about {
		padding: 0rem 2rem;
	}
}

@media only screen and (max-width: 375px) {
	/* About Intro */
	.intro-box {
		height: 80%;
		width: 80%;
		top: 7%;
	}

	.about-intro-wrapper {
		margin: 0.2rem;
		justify-content: center;
	}

	.navbar-head {
		font-size: 1rem !important;
	}

	/* Cards Section */
}
