body {
	position: relative;
}

.page-content {
	height: 100vh;
	position: relative;
	background-image: url('/img/contact.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255, 0.7);
	background-blend-mode: overlay;
}
/* Hidden NavBar and Header */

.gh-nav {
	margin-left: 1rem;
}

.nav-menu {
	height: 50vh;
	width: 100vw;
	background: black;
	position: absolute;
	position: fixed;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #80cbc4;
	font-size: 5vw;
	text-align: center;
}

.menu-item {
	color: #fff;
	text-shadow: 2px 2px 2px black;
	padding: 1rem;
	margin: 1rem;
}

.hide-nav {
	transform: translateY(-100%);
}
.transition-effect {
	transition: 2s;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
}

/* Contact Section */

.contact-section-wrapper {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Maps */
.maps {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
/* Form */

.form {
	width: 50%;
	padding: 2.5rem;
}
form {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	margin: 3rem;
	justify-content: center;
}

.submit-btn-div {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2rem 0rem;
}

.submit-btn {
	width: 10rem;
}

h5 {
	color: #80cbc4;
	text-align: center;
}
/* Social Media Links */

.sm-links {
	display: flex;
	justify-content: center;
}

.sm-link {
	margin: 1rem;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.footer-text {
	font-size: 1rem;
	color: #fff;
}

/* Media Queries */

/* Larger Screens */
@media only screen and (max-width: 1215px) {
	/* Contact Section Wrapper */
	.contact-section-wrapper {
		flex-direction: column;
	}

	.form {
		height: 60vh;
		width: 80vw;
		margin-bottom: 2rem;
	}

	.maps {
		height: 75vh;
	}
	.contact-section-wrapper {
		height: 150vh;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		margin-top: 8rem;
	}
}

/* Small Screens */
@media only screen and (max-width: 725px) {
	body {
		position: relative;
	}

	/* Contact Section Wrapper */
	.contact-section-wrapper {
		height: 100vh;
	}

	.form {
		height: 60vh;
		width: 80vw;
		margin: 0;
		padding: 0;
	}

	form {
		width: 70vw;
	}

	.maps {
		display: none;
	}

	footer {
		clear: both;
		position: relative;
		margin-top: -200px;
	}
}

/* Small Screens */
@media only screen and (max-width: 425px) {
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		margin-top: 2rem;
	}

	.social-media-links {
		margin-bottom: 4rem;
	}
}

/* Small Screens */
@media only screen and (max-width: 375px) {
	.navbar-head {
		font-size: 1rem !important;
	}
}
