.modal-bg {
	height: 100vh;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	background-blend-mode: overlay;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.modal {
	height: 70%;
	width: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal-main {
	padding: 2rem;
	width: 30%;
	text-align: center;
}

.modal-img-div {
	height: 100%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: url('/img/modal.jpg');
	background-size: cover;
	background-position: center;
}

.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	font-size: 2rem;
}

.close {
	display: none;
}

.display-value {
	display: none;
}

@media only screen and (max-width: 570px) {
	/* About Intro */

	.intro-box {
		height: 50%;
		width: 80%;
	}

	.about-card {
		width: 100%;
	}

	.about-head,
	.about-sub-head {
		font-size: 14px;
	}

	/* Cards Section */

	.card-head,
	h3,
	.about-sub-head {
		font-size: 12px;
	}
	.main-about {
		padding: 0rem 2rem;
	}
}

@media only screen and (max-width: 1250px) {
	.modal {
		flex-direction: column;
	}

	.modal-img-div {
		height: 100%;
		width: 100%;
	}

	.modal-main {
		width: 100%;
	}
}
